@model CMS_Golbarg.Areas.Admin.Models.HairColor
@using CMS_Golbarg.Helpers
<div class="card">
    @Html.ImageFor(model => model.HairPic, new { @class = "card_img"})
       
        @Html.HiddenFor(model=>model.Id)
        
        <div class="card_details">
        @Html.DisplayFor(model => model.getInfoInternational)
            
        </div>
        <div class="card_details">
            @Html.DisplayFor(model => model.getInfoPersian)

        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.InterNationalColorName, htmlAttributes: new { @class = "control-label col-md-7" })
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.InterNationalColorName, new { htmlAttributes = new { @class = "form-control card_detail" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InterNationalColorCode, htmlAttributes: new { @class = "control-label col-md-7" })
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.InterNationalColorCode, new { htmlAttributes = new { @class = "form-control card_detail" } })

                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PersianColorName, htmlAttributes: new { @class = "control-label col-md-7" })
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.PersianColorName, new { htmlAttributes = new { @class = "form-control card_detail" } })

                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PersianColorCode, htmlAttributes: new { @class = "control-label col-md-7" })
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.PersianColorCode, new { htmlAttributes = new { @class = "form-control card_detail" } })

                </div>

            </div>*@

            <div class="form-group">
                <div class="col-md-6">
                    <a href="@Url.Action("Edit",new { id = Model.Id })" class="btn btn-transparent"><small><span class="glyphicon glyphicon-edit"></span></small></a>

                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-transparent"><small><span class="glyphicon glyphicon-trash"></span></small></a>
                </div>
            </div>



    </div>
