@model CMS_Golbarg.Areas.Admin.Models.PayPlan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PayPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCoin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCoin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
