@model CMS_Golbarg.Areas.Client.Models.Mixer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mixer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oxidan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oxidan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
