@model CMS_Golbarg.Areas.Client.Models.Pay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransitionOfBankNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransitionOfBankNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InOutType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InOutType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
