@model CMS_Golbarg.ViewModel.CreateCartViewModel

@{
    ViewBag.Title = "Create";

}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ActualHairColorID)
    @Html.HiddenFor(m => m.DestinationHairColorID)
    @Html.Hidden("State")

    <div class="box" id="HairColorBox" style="width: 100%;">
        <div class="box-header with-border">
            <h3 class="box-title">رنگ موی درخواستی خود را انتخاب کنید</h3>
        </div>
        <div class="box-body">
            <div class="alert alert-warning hide" id="infoAlert"></div>
            <div class="alert alert-danger hide" id="deColorAlert"></div>
            <div class="alert alert-success hide" id="successAlert"></div>
            <div class="card_content">
                @foreach (var item in Model.HairColors)
                {
                    @Html.Partial("~/Areas/Admin/Views/Shared/_HairColorCardView.cshtml", item)
                }
            </div>
        </div>
        <div class="box-footer">
            @*<div id="result">empty</div>
            <div id="Des">empty</div>
            <div id="Act">empty</div>*@
            <button id="next" type="button">بعدی</button>
        </div>
        
    </div>

}

       
            @*<div class="box sidebar-toggle" id="Actual_box"   style="width: 100%;">

                <div class="box-header with-border">
                    <h3 class="box-title">رنگ موی فعلی خود را انتخاب کنید</h3>
                </div>
                <div class="box-body">
                    <div class="card_content" id="Actual">
                        @foreach (var item in Model.HairColors)
                        {
                            @Html.Partial("~/Areas/Admin/Views/Shared/_HairColorCardView.cshtml", item)
                        }
                    </div>
                </div>
                <div class="box-footer">
                    <button  id="Act_Back" type="button">قبلی</button>
                    <button id="Act_Next" type="button">بعدی</button>
                </div>
            </div>*@
        
    
    

    




@*@using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            <div class="box box-primary hide">
                <div class="box-header with-border">
                    <b>خرید فرمول رنگ ترکیبی</b>
                </div>
                <div class="box-body">


                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(model => model.DestinationHairColorID, htmlAttributes: new { @class = "control-label" })
                            
                                @Html.DropDownList("DestinationHairColorID", new SelectList(ViewBag.DestinationHairColors, "Id", "InterNationalColorCode"), "رنگ موی درخواستی را انتخاب کنید", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DestinationHairColorID, "", new { @class = "text-danger" })
                            
                        </div>

                        <div class="form-group">
                            <div class="control-label">رنگ موی فعلی</div>
                            
                                <select class="form-control" id="ActualHairColorID" name="ActualHairColorID">
                                    <option></option>
                                </select>
                            
                        </div>

                        <div class="form-group alert alert-danger" style="display:none" id="decolor">
                            <div class="control-label">نیاز به دکلره با مقدار زیر دارد</div>
                            
                                <div class="form-control">
                                    <p id="DecolorState" readonly></p>
                                </div>
                            
                        </div>

                    </div>



                </div>




                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-default fa fa-save" title="ذخیره"></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <a href="@Url.Action("index")" class="btn btn-default fa fa-backward" title="بازگشت به لیست"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }*@
        

        

        @section Scripts {




            <script>

                var card = $('.card');
                var ActualColorId = -1;
                var DestinatioanColorId = -1;
                var state = '0';

                $(document).ready(function() {
                    //console.log("ready!");
                    //$('#result').text(state);

                    card.click(function() {


                        $('.card').removeClass("card_selected");

                        $(this).addClass("card_selected");
                        $('#result').text(state);
                        if (state == '0') {
                            DestinatioanColorId = $(".card_selected > #Id").val();
                            //$("#Des").text(DestinatioanColorId);
                            //$("#Des").text(DestinatioanColorId);
                        } else if (state == '1') {
                            ActualColorId = $(".card_selected > #Id").val();
                            //$("#Act").text(ActualColorId);
                        }


                    });

                    $('#next').click(function() {


                        if (state == '0') {
                            //$('#HairColorBox').toggle("slide", { direction: "right" }, 500);
                            $('#DestinationHairColorID').val(DestinatioanColorId);

                            //delay();
                            $('.box>.box-header>.box-title').text('رنگ موی فعلی خود را انتخاب کنید');

                            //$('#HairColorBox').toggle("slide", { direction: "Left" }, 500);
                            state = '1';
                            //$('#result').text(state);

                            //$(".card_selected ").toggle("slide", { direction: "right" }, 500);
                            $(".card_selected ").toggle("slow");
                            $(".card_selected ").addClass('DestinationColor');
                            $('.card').removeClass("card_selected");


                        } else if (state == '1') {
                            // ActualColorId = $(".card_selected > #Id").val();
                            $('#ActualHairColorID').val(ActualColorId);
                            
                            

                            var form = $('form');
                            var token = $('input[name="__RequestVerificationToken"]', form).val();
                            $.ajax({
                                type: "POST",

                                url: "/Carts/get_DecolorState",

                                datatype: "Json",

                                data: {
                                    __RequestVerificationToken: token,
                                    DestinationHairColorID: $('#DestinationHairColorID').val(),
                                    ActualHairColorID: $('#ActualHairColorID').val()
                                },

                                success: function(data) {
                                    //if (data != null && data != 'undefined') {
                                    if (data.Item1) {
                                        state = '2';

                                        if (data.Item2 != null) {
                                            //if (data.item2 == 'nothing') {
                                            //    var msg = 'برای این حالت فرمولی تعبیه نشده است';
                                            //   // $('#deColorAlert').text(msg);
                                            //    bootbox.alert( '<div class="alert alert-danger">'+msg+'</div>');

                                            //    //$('#deColorAlert').removeClass("hide");
                                            //    //$('.box>.box-header>.box-title').text('شرایط خاص این فرمول به شرح زیر است');

                                            //} else {

                                            //state = '2';
                                            //$('#result').text(state);
                                            $(".card_selected ").addClass('ActualColor');
                                            $('.card').removeClass("card_selected");
                                            $(".card").hide("slow");

                                            var msg = 'این ترکیب نیاز به دکلره با مقدار ' +
                                                data.Item2 +
                                                ' دارد آیا مایل به ادامه خرید هستید؟';
                                            $('#deColorAlert').text(msg);
                                            $('#deColorAlert').removeClass("hide");
                                            $('.box>.box-header>.box-title').text('شرایط خاص این فرمول به شرح زیر است');
                                            $("html, body").animate({
                                                    scrollTop: 0
                                                },
                                                90);

                                            bootbox.confirm({
                                                message: msg,
                                                buttons: {
                                                    confirm: {
                                                        label: 'بله',
                                                        className: 'btn-success'
                                                    },
                                                    cancel: {
                                                        label: 'خیر',
                                                        className: 'btn-danger'
                                                    }
                                                },
                                                callback: function (result) {
                                                    console.log('This was logged in the callback: ' + result);
                                                }
                                            });
                                            


                                            //}
                                        } else {
                                            $(".card_selected ").addClass('ActualColor');
                                            $('.card').removeClass("card_selected");
                                            $(".card").hide("slow");


                                            $('.box>.box-header>.box-title').text('تایید نهایی خرید');

                                            $('#infoAlert').removeClass('hide');
                                            $('#infoAlert').text('با دقت به موارد انتخابی تایید نهایی را بزنید ');
                                            $(this).text('تایید خرید و پرداخت از حساب');
                                            $('.ActualColor').show();
                                            $('.DestinationColor').show();
                                        }

                                    } else {
                                        var msg = 'برای این حالت فرمولی تعبیه نشده است';
                                        // $('#deColorAlert').text(msg);
                                        bootbox.alert( '<div class="alert alert-danger">'+msg+'</div>');
                                           
                                        //$('#deColorAlert').removeClass("hide");
                                        //$('.box>.box-header>.box-title').text('شرایط خاص این فرمول به شرح زیر است');
                                    }


                                    //else {
                                    //    $('#DecolorAlert').hide();
                                    //}


                                }


                            });


                        } else if (state == '2') {
                            $('.box>.box-header>.box-title').text('تایید نهایی خرید');
                            
                            $('#infoAlert').removeClass('hide');
                            $('#infoAlert').text('با دقت به موارد انتخابی تایید نهایی را بزنید ');
                            $(this).text('تایید خرید و پرداخت از حساب');
                            $('.ActualColor').toggle();
                            $('.DestinationColor').toggle();
                        }

                        //$('#destionation_box').slideUp();
                        //$('#Actual_box').slideDown();
                    });


                });


                var DestinationColorId;
                var ActualColorId;


                //$('#DestinationHairColorID').change(function () {
                //    $('#ActualHairColorID').empty();
                //    $('#decolor').hide();

                //    $('#ActualHairColorID').append('<option value="-1">لطفا رنگ فعلی موهای خود را انتخاب کنید</option>');

                //    var form = $('form');
                //    var token = $('input[name="__RequestVerificationToken"]', form).val();
                //    $.ajax({

                //        type: "POST",

                //        url: "/Carts/get_ActualHairColors",

                //        datatype: "Json",

                //        data: { __RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val() },

                //        success: function (data) {

                //            $.each(data, function (index, value) {

                //                $('#ActualHairColorID').append('<option value="' + value.Id + '">' + value.InterNationalColorCode + '</option>');

                //            });

                //        }


                //    });


                //});

                //$('#ActualHairColorID').change(function () {
                //    $('#decolor').hide();
                //    var form = $('form');
                //    var token = $('input[name="__RequestVerificationToken"]', form).val();


                //    $.ajax({

                //        type: "POST",

                //        url: "/Carts/get_DecolorState",

                //        datatype: "Json",

                //        data: { __RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val(), ActualHairColorID: $('#ActualHairColorID').val() },

                //        success: function (data) {
                //            if (data != null || data != "") {
                //                $('#DecolorState').text(data);
                //                $('#decolor').show();
                //            }
                //            else {
                //                $('#decolor').hide();
                //            }


                //        }


                //    });


                //});

                //$('form').submit(function (event) {
                //    event.preventDefault();


                //    var form = $('form');
                //    var token = $('input[name="__RequestVerificationToken"]', form).val();


                //    $.ajax({

                //        type: "POST",

                //        url: "/Carts/Create",

                //        datatype: "Json",

                //        data: { __RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val(), ActualHairColorID: $('#ActualHairColorID').val() },

                //        success: function (data) {
                //            var obj = JSON.stringify(data);
                //            obj = JSON.parse(obj);

                //            bootbox.alert(obj.res);


                //        }


                //    });


                //});


            </script>
        }
