@model CMS_Golbarg.ViewModel.CreateCartViewModel

@{
    ViewBag.Title = "Create";

}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ActualHairColorID)
    @Html.HiddenFor(m => m.DestinationHairColorID)
    @Html.Hidden("State")


    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">گام اول</h4>
                    <p class="list-group-item-text">انتخاب رنگ مویی که میخواهید</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-item-heading">گام دوم</h4>
                    <p class="list-group-item-text">انتخاب رنگ موی فعلی شما</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">گام سوم</h4>
                    <p class="list-group-item-text">تایید خرید و پرداخت</p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="row setup-content" id="step-1">
        
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <div class="box" id="HairColorBox" style="width: 100%;">
                    @*<div class="box-header with-border">
                        <h3 class="box-title">رنگ موی درخواستی خود را انتخاب کنید</h3>
                    </div>*@
                    <div class="box-body">
                        <div class="alert alert-warning hide" id="infoAlert"></div>
                        <div class="alert alert-danger hide" id="deColorAlert"></div>
                        <div class="alert alert-success hide" id="successAlert"></div>
                        <div class="card_content">
                            @foreach (var item in Model.HairColors)
                            {
                                @Html.Partial("~/Areas/Admin/Views/Shared/_HairColorCardViewForCartList.cshtml", item)
                            }
                        </div>
                    </div>
                    <div class="box-footer">
                        <button id="next" type="button" class="btn btn-success">بعدی</button>
                    </div>

                </div>




                <button id="activate-step-2" class="btn btn-primary btn-lg">Activate Step 2</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <h1 class="text-center"> STEP 2</h1>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                <h1 class="text-center"> STEP 3</h1>
            </div>
        </div>
    </div>
    









    



    


}

@section Scripts {
    <script>

        var card = $('.card');
        var ActualColorId = -1;
        var DestinatioanColorId = -1;
        var state = '0';

        var flag = true;
        var decolorFlagOk = false;
        var decolorSize = 0;






        $(document).ready(function () {


            var navListItems = $('ul.setup-panel li a'),
                allWells = $('.setup-content');

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this).closest('li');

                if (!$item.hasClass('disabled')) {
                    navListItems.closest('li').removeClass('active');
                    $item.addClass('active');
                    allWells.hide();
                    $target.show();
                }
            });

            $('ul.setup-panel li.active a').trigger('click');

            // DEMO ONLY //
            $('#activate-step-2').on('click',
                function(e) {
                    $('ul.setup-panel li:eq(1)').removeClass('disabled');
                    $('ul.setup-panel li a[href="#step-2"]').trigger('click');
                    $(this).remove();
                });



















            card.click(function() {
                if (status != '3') {
                    if (flag) {

                        if (state < '2') {
                            $('.card').removeClass("card_selected");
                            $('.card_btn').addClass("hide");
                            $(this).addClass("card_selected");

                            $('.card_selected >.card_btn').removeClass("hide");
                        }
                        if (state == '0') {
                            DestinatioanColorId = $(".card_selected > #Id").val();
                            $('.card_selected >.card_btn').text('انتخاب رنگ درخواستی');
                        } else if (state == '1') {
                            ActualColorId = $(".card_selected > #Id").val();
                            $('.card_selected >.card_btn').text('انتخاب رنگ فعلی');
                        }
                    } else {
                        flag = true;
                    }
                }
            });

            $('.card_btn').click(function() {
                flag = false;
                if (state == '0') {
                    $('#DestinationHairColorID').val(DestinatioanColorId);
                    $('.box>.box-header>.box-title').text('رنگ موی فعلی خود را انتخاب کنید');
                    state = '1';
                    $(".card_selected ").addClass("hide");
                    $(".card_selected ").addClass('DestinationColor');
                    $('.card').removeClass("card_selected");
                } else if (state == '1') {
                    $('#ActualHairColorID').val(ActualColorId);
                    var form = $('form');
                    var token = $('input[name="__RequestVerificationToken"]', form).val();
                    $.ajax({
                        type: "POST",
                        url: "/Carts/get_DecolorState",
                        datatype: "Json",
                        data: {
                            __RequestVerificationToken: token,
                            DestinationHairColorID: $('#DestinationHairColorID').val(),
                            ActualHairColorID: $('#ActualHairColorID').val()
                        },
                        success: function(data) {
                            if (data.Item1) {
                                state = '2';
                                $(".card_selected ").addClass("hide");
                                $(".card_selected ").addClass('ActualColor');
                                $('.card').removeClass("card_selected");
                                $('.card').addClass('hide');
                                $('.ActualColor').removeClass('hide');
                                $('.DestinationColor').removeClass('hide');
                                $('.DestinationColor>.card_btn').removeClass('hide');
                                $('.ActualColor>.card_btn').addClass('btn btn-success disabled').text('رنگ موی فعلی');
                                $('.DestinationColor>.card_btn').addClass('btn btn-success disabled')
                                    .text('رنگ موی درخواستی');
                                $('.box>.box-header>.box-title').text('تایید نهایی خرید');

                                $('#infoAlert').removeClass('hide');
                                $('#infoAlert').text('با دقت به موارد انتخابی تایید نهایی را بزنید ');
                                $('#next').text('تایید خرید و پرداخت از حساب').removeClass('hide');

                                if (data.Item2 != null) {


                                    //$('#deColorAlert').text(msg);
                                    //$('#deColorAlert').removeClass("hide");
                                    $('.box>.box-header>.box-title').text('شرایط خاص این فرمول به شرح زیر است');
                                    $("html, body").animate({
                                            scrollTop: 0
                                        },
                                        90);
                                    decolorSize = data.Item2;

                                    var msg = 'این ترکیب نیاز به دکلره با مقدار ' +
                                        decolorSize +
                                        ' دارد آیا مایل به ادامه خرید هستید؟';


                                    bootbox.confirm({
                                        message: msg,
                                        buttons: {
                                            confirm: {
                                                label: 'بله',
                                                className: 'btn-success'
                                            },
                                            cancel: {
                                                label: 'خیر',
                                                className: 'btn-danger'
                                            }
                                        },
                                        callback: function(result) {
                                            if (result) {
                                                state = '3';
                                                decolorFlagOk = true;
                                            } else {
                                                decolorFlagOk = false;
                                            }
                                            console.log('This was logged in the callback: ' + result);
                                        }
                                    });

                                } else {


                                    
                                    state = '3';
                                }

                            } else {
                                var msg = 'برای این حالت فرمولی تعبیه نشده است';


                                bootbox.alert('<div class="alert alert-danger">' + msg + '</div>');
                            }
                        }
                    });
                } else if (state == '2') {
                    $('.box>.box-header>.box-title').text('تایید نهایی خرید');

                    $('#infoAlert').removeClass('hide');
                    $('#infoAlert').text('با دقت به موارد انتخابی تایید نهایی را بزنید ');

                    state = '3';
                } else if (state == '3') {
                    //statefinish
                }
            });


            $('#next').click(function() {
                if (state == '3') {
                    //$('form').submit(function(event) {
                    //    event.preventDefault();
                    if (decolorFlagOk) {
                        var form = $('form');
                        var token = $('input[name="__RequestVerificationToken"]', form).val();


                        $.ajax({
                            type: "POST",

                            url: "/Carts/Create",

                            datatype: "Json",

                            data: {
                                __RequestVerificationToken: token,
                                DestinationHairColorID: $('#DestinationHairColorID').val(),
                                ActualHairColorID: $('#ActualHairColorID').val()
                            },

                            success: function(data) {
                                var obj = JSON.stringify(data);
                                obj = JSON.parse(obj);

                                var msg = '<div class="box" id="modal" style="width: 100%;">' +
                                    '<div class="box-header  alert alert-success">' +
                                    '<h3 class="box-title">نتیجه خرید</h3>' +
                                    '</div>' +
                                    '<div class="box-body">' +
                                    obj.Mix +
                                    '</div>' +
                                    '</div>';
                                bootbox.alert(msg);
                            }


                        });
                    } else {
                        //var msg = 'این ترکیب نیاز به دکلره با مقدار ' +
                        //    decolorSize +
                        //    ' دارد آیا مایل به ادامه خرید هستید؟';


                        //bootbox.confirm({
                        //    message: msg,
                        //    buttons: {
                        //        confirm: {
                        //            label: 'بله',
                        //            className: 'btn-success'
                        //        },
                        //        cancel: {
                        //            label: 'خیر',
                        //            className: 'btn-danger'
                        //        }
                        //    },
                        //    callback: function(result) {
                        //        if (result) {
                        //            state = '3';
                        //            decolorFlagOk = true;
                        //        } else {
                        //            decolorFlagOk = false;
                        //        }
                        //        console.log('This was logged in the callback: ' + result);
                        //    }
                        //});
                    }


                    //});
                } else if(state=='2' && !decolorFlagOk && decolorSize >0 ) {
                    var msg = 'این ترکیب نیاز به دکلره با مقدار ' +
                        decolorSize +
                        ' دارد آیا مایل به ادامه خرید هستید؟';


                    bootbox.confirm({
                        message: msg,
                        buttons: {
                            confirm: {
                                label: 'بله',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'خیر',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                state = '3';
                                decolorFlagOk = true;
                            } else {
                                decolorFlagOk = false;
                            }
                            console.log('This was logged in the callback: ' + result);
                        }
                    });
                }
            });
        });


        var DestinationColorId;
        var ActualColorId;


        //$('#DestinationHairColorID').change(function () {
        //    $('#ActualHairColorID').empty();
        //    $('#decolor').hide();

        //    $('#ActualHairColorID').append('<option value="-1">لطفا رنگ فعلی موهای خود را انتخاب کنید</option>');

        //    var form = $('form');
        //    var token = $('input[name="__RequestVerificationToken"]', form).val();
        //    $.ajax({

        //        type: "POST",

        //        url: "/Carts/get_ActualHairColors",

        //        datatype: "Json",

        //        data: { __RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val() },

        //        success: function (data) {

        //            $.each(data, function (index, value) {

        //                $('#ActualHairColorID').append('<option value="' + value.Id + '">' + value.InterNationalColorCode + '</option>');

        //            });

        //        }


        //    });


        //});

        //$('#ActualHairColorID').change(function () {
        //    $('#decolor').hide();
        //    var form = $('form');
        //    var token = $('input[name="__RequestVerificationToken"]', form).val();


        //    $.ajax({

        //        type: "POST",

        //        url: "/Carts/get_DecolorState",

        //        datatype: "Json",

        //        data: { __RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val(), ActualHairColorID: $('#ActualHairColorID').val() },

        //        success: function (data) {
        //            if (data != null || data != "") {
        //                $('#DecolorState').text(data);
        //                $('#decolor').show();
        //            }
        //            else {
        //                $('#decolor').hide();
        //            }


        //        }


        //    });


        //});

        //$('form').submit(function (event) {
        //    event.preventDefault();


        //    var form = $('form');
        //    var token = $('input[name="__RequestVerificationToken"]', form).val();


        //    $.ajax({

        //        type: "POST",

        //        url: "/Carts/Create",

        //        datatype: "Json",

        //        data: { __RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val(), ActualHairColorID: $('#ActualHairColorID').val() },

        //        success: function (data) {
        //            var obj = JSON.stringify(data);
        //            obj = JSON.parse(obj);

        //            bootbox.alert(obj.res);


        //        }


        //    });


        //});


    </script>
}
