@model CMS_Golbarg.ViewModel.CreateCartViewModel

@{
    ViewBag.Title = "Create";
    
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cart</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.DestinationHairColorID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DestinationHairColorID",new SelectList(ViewBag.DestinationHairColors, "Id", "InterNationalColorCode"), "رنگ موی درخواستی را انتخاب کنید", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DestinationHairColorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class = "control-label col-md-2">رنگ موی فعلی</div>
            <div class="col-md-10">
                <select class="form-control" id="ActualHairColorID" name="ActualHairColorID">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group alert alert-danger" style="display:none" id="decolor">
            <div class="control-label col-md-2">نیاز به دکلره با مقدار زیر دارد</div>
            <div class="col-md-10">
                <div class="form-control">
                    <p id="DecolorState" readonly></p>
                </div>
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    <script>

        $('#DestinationHairColorID').change(function () {
            $('#ActualHairColorID').empty();
            $('#decolor').hide();

            $('#ActualHairColorID').append('<option value="-1">لطفا رنگ فعلی موهای خود را انتخاب کنید</option>');

            var form = $('form');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({

                type: "POST",

                url: "/Carts/get_ActualHairColors",

                datatype: "Json",

                data: {__RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val()},

                success: function (data) {

                    $.each(data, function (index, value) {

                        $('#ActualHairColorID').append('<option value="' + value.Id + '">' + value.InterNationalColorCode + '</option>');

                    });

                }
               

            });
 

        });

        $('#ActualHairColorID').change(function () {            
            $('#decolor').hide();
            var form = $('form');
            var token = $('input[name="__RequestVerificationToken"]', form).val();


            $.ajax({

                type: "POST",

                url: "/Carts/get_DecolorState",

                datatype: "Json",

                data: { __RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val(), ActualHairColorID: $('#ActualHairColorID').val() },

                success: function (data) {
                    if (data != null || data!=""){
                        $('#DecolorState').text(data);
                        $('#decolor').show();
                    }
                    else {
                        $('#decolor').hide();
                    }
                   

                }


            });


        });

        $('form').submit(function (event) {
            event.preventDefault();


            var form = $('form');
            var token = $('input[name="__RequestVerificationToken"]', form).val();


            $.ajax({

                type: "POST",

                url: "/Carts/Create",

                datatype: "Json",

                data: { __RequestVerificationToken: token, DestinationHairColorID: $('#DestinationHairColorID').val(), ActualHairColorID: $('#ActualHairColorID').val() },

                success: function (data) {
                    var obj = JSON.stringify(data);
                    obj = JSON.parse(obj);
                    
                    bootbox.alert(obj.res);


                }


            });


        });


        


    

    




   









    </script>
    }