@model IEnumerable<CMS_Golbarg.Areas.Admin.Models.Cart>

@{
    ViewBag.Title = "لیست خرید ها";

}


<a class="btn btn-sm fa fa-plus-square " href="@Url.Action("Create","Carts")"></a>


<div class="box">
    <div class="box-header  with-border">
        <h3 class="box-title">لیست خرید ها</h3>
    </div>
    <div class="box-body">



        <table id="cart-list" class="table table-striped table-bordered" cellspacing="0">
            <thead>


                <tr>
                    <th>

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pay.PayAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mixer.Mix)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pay.TransitionOfBankNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegisterDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ConfirmDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDay)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pay.PayAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mixer.Mix)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pay.TransitionOfBankNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisterDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConfirmDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDay)
                        </td>

                    </tr>
                }
            </tbody>
        </table>


    </div>

</div>


@section scripts{
    @Scripts.Render("~/bundles/adminlte-rtl_dataTables")
    <script>
        $(document).ready(function () {
            $('#cart-list').DataTable();
        });

        $.extend($.fn.dataTable.defaults, {
            searching: true,
            ordering: true
        });
    </script>


}


