@model IEnumerable<CMS_Golbarg.Areas.Admin.Models.Setting>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Setting_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Setting_Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Setting_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Setting_Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) 
        </td>
    </tr>
}

</table>
