@model CMS_Golbarg.Areas.Admin.Models.HairColor

@{
    ViewBag.Title = "Delete";
    
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        @if (ViewBag.msg == "" || ViewBag.msg == null)
        {

        }
        else
        {
            <div class="alert alert-danger">@ViewBag.msg</div>
        }
        
        <div class="box box-primary">
            <div class="box-header with-border">
                <b>آیا مطمعنید میخواهید این رنگ مو را حذف کنید؟</b>
            </div>
            <div class="box-body">


                <div class="form-horizontal">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.InterNationalColorCode)

                                @Html.DisplayFor(model => model.InterNationalColorCode, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.InterNationalColorName)

                                @Html.DisplayFor(model => model.InterNationalColorName, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.PersianColorCode)

                                @Html.DisplayFor(model => model.PersianColorCode, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DisplayNameFor(model => model.PersianColorName)

                                @Html.DisplayFor(model => model.PersianColorName, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="box-footer">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-default fa fa-remove" title="حذف"></button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <a href="@Url.Action("index")" class="btn btn-default fa fa-backward" title="بازگشت به لیست"></a>
                            </div>
                        </div>
                    }
                </div>


            </div>


        </div>

        <div>

        </div>


    </section>
</div>

