@model CMS_Golbarg.Core.Models.HairColor

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>HairColor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InterNationalColorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterNationalColorCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterNationalColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterNationalColorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersianColorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersianColorCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersianColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersianColorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HairPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HairPic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
